.Game {
  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
  text-align: center;
}

.Game-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-link {
  color: #61dafb;
}

.Game-villanCards {
  height: 200px;
  display: flex;
  align-items: center;
}

.Game-villanCaptureCards {
  border: 0px dashed red;
  border-radius: 20px;
  /* height: 140px; */
  display: -webkit-inline-box;
  /* align-items: center; */
  /* justify-content: left; */
  width: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 0px;
  background-color:#339933;
}

.Game-villanHand {
  height: 140px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game-middleSection {
  height: 400px;
  display: flex;
  align-items: center;
  border: 3px solid;
  background-color: green;
}

.Game-middleSection__commonActions {
  flex-direction: column;
  display: flex;
}

.Game-middleSection__rubbishBin {
    overflow-y: scroll;
    height: 370px;
    border: 2px dashed black;
    border-radius: 10px;
    width: 210px;
    display: flex;
    align-items: baseline;
    flex-flow: wrap;
}

.Game-bottomBar {
  display: flex
}

.Game-middleSection__commonActions___handPot {
  border: 3px dotted greenyellow;
  border-radius: 10px;
  background-color: green;
  margin: 10px;
  padding: 5px;
  width: 245px;
  justify-content: space-between;
  display: flex;
  height: 85px;
}

.Game-middleSection__commonActions___logger {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 245px;
  height: 85px;
  overflow: auto;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  text-align: left;
  white-space: nowrap;
}

.Game-heroStuff__heroBets,
.Game-heroStuff__heroStats {
  border: 3px dotted aquamarine;
  border-radius: 10px;
  background-color: blue;
  margin: 20px;
  padding: 10px;
  color : white;
}

.Game-villanStuff__villanBets,
.Game-middleSection__villanStats {
  border: 3px dotted red;
  border-radius: 10px;
  background-color: brown;
  margin: 20px;
  padding: 10px;
}

.Game-heroCards {
  height: 200px;
  display: flex;
  align-items: center;
}

.Game-heroCaptureCards {
  /*border: 1px dashed rgb(0, 140, 255);*/
  border-radius: 20px;
  height: 140px;
  display: -webkit-inline-box;
  align-items: center;
  justify-content: left;
  width: 250px;
  overflow-x: auto;
  overflow-y: hidden;
  /*margin-top: 110px;*/
  background-color:#339933;
}

.Game-villanHand,
.Game-heroHand {
  height: 140px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Game-villanStuff,
.Game-heroStuff {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.Game-heroStuff__bottomBar {
  border: 3px dotted aquamarine;
  border-radius: 10px;
  background-color: blue;
  margin: 20px;
  padding: 10px;
  color: white;
  height: 23px;
  width: 300px;
}