.Board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  flex-direction: column;
}

.Board-villanHand {
  background-image: url("carte-romagnole-back-crop.jpg");
  background-color: brown;
  height: 99px;
  width: 65px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid;
  background-size: 100%;
}

.Board-playedCards {
  display: flex;
  height: 150px;
  align-items: center;
}

.Board-endGameCard {
  margin: 10px;
  border: 2px dotted #993333;
  background-color: #339933;
  padding: 20px;
  border-radius: 25px;
}
.Board-endOfRoundCard {
  margin: 10px;
  border: 2px dotted #993333;
  background-color: #339933;
  padding: 20px;
  border-radius: 25px;
}