.Deck-ActualDeck {
  background-image: url("carte-romagnole-back-crop.jpg");
  height: 117px;
  width: 65px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid;
  transform: rotate(90deg);
  background-size: 104%;
  background-position-y: -2px;
  background-position-x: -2px;
}

.Deck-ActualDeck__p {
  transform: rotate(270deg);
  margin-top: 60px;
  margin-left: -90px;
  color: beige;
  font-weight: bold;
}

.Deck {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}