.Login {
  display: flex;
  flex-direction: column;
}

.Login div {
  height: 35px;
}

.Login-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-buttons {
  display: flex;
  flex-direction: column;
  
}

.Login-flashMessage {
  border: 2px solid red;
  background-color: brown;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}